 body {
     background-image: url(https://images.unsplash.com/photo-1501127122-f385ca6ddd9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format);
     backdrop-filter: blur(7px);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;

 }

 body {
     background-color: #26272b;
     padding: 0;
     margin: 0;
 }

 a {
     text-decoration: none;
     color: #fff;
 }

 .section__header {
     color: #fff;
 }

 .content {
     background: rgba(0, 0, 0, 0.8);
     height: 100%;
     display: flex;
     flex: 1 0 auto;
 }

 .wrap {
     display: flex;
     flex-direction: row;
     flex: 1 0 auto;
     z-index: 1;
     margin: 100px auto;
     width: 90%;
     max-width: 1200px;
 }

 .left_main {
     display: flex;
     flex-direction: column;
     flex: 1 0 auto;
     float: left;
     width: 52%;
     padding-right: 4%;
     border-right: .5px solid #fff;
 }

 .sidebar {
     padding-top: 20px;
     width: 38%;
     padding-left: 6%;
     float: right;
     background-position: left top;

 }

 .item_name {
     text-align: start;
 }

 .cost {
     text-align: end;
 }

 table {
     margin: 0 auto;
     border: none;
     height: 60%;
     overflow: scroll;
 }

 tr {
     color: white;
     border: none;
     height: 10%;
 }

 td {
     border: none;
 }

 #total {
     border-top: 1px solid white;
 }

 #total td {
     font-weight: bold;
     font-size: 1.5em;
     text-align: end;
 }

 .checkout_form {
     z-index: 1;
     height: 100%;
     width: 100%;
 }

 form {
     margin: 0 auto;
     width: 100%;
     background: inherit;
     color: rgb(212, 212, 213);
     display: block;
     font-size: 14px;
     line-height: 18.2px;
     overflow-wrap: break-word;
     box-shadow: none;
 }

 label {
     color: rgb(177, 177, 179);
     font-size: 12px;
     font-weight: 400;
     margin: 5px 0;
     position: absolute;
     text-align: start;
     padding-top: 9px;
     padding-left: 10px;
     line-height: 18.2px;
     width: fit-content;
 }

 .field__input {
     margin: 10px 0;
     color: white;
     padding-top: 1.5em;
     padding-bottom: 0.35em;
     width: 100%;
     background: rgba(0, 0, 0, 0.3);
     border: 1px #515255 solid;
     border-radius: 5px;
     line-height: 19px;
 }

 select {
     padding-left: 5px;
 }

 #continue_button {
     background-color: green;
     color: white;
     border: none;
     padding: 10px;
     border-radius: 5px;
     width: 100%;
     margin: 10px 0;
 }

 #payment_button {
     background-color: green;
     color: white;
     border: none;
     padding: 10px;
     border-radius: 5px;
     width: 100%;
     margin: 10px 0;
 }